@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.info-modal {
  color: $color-white;

  .modal-content {
    background: $color-black;
    // border: 1px solid $color-white;
    border-radius: 0px;
    overflow: hidden;
  }

  .modal-header {
    padding: 0;
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  &__content {
    @include flexCol;
    align-items: center;
  }

  &__icon {
    color: $color-green;
    font-size: 50px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
  }

  &__input {
    width: 300px;
    padding: 4px 8px;
    border-radius: 0px;
    margin: 40px;
  }

  &__button {
    & button {
      width: 130px;
      margin: 0 20px;
      border-radius: 0;
      border: 1px solid white;
      background: #000;
      border-color: white;
    }

    & button:hover,
    & button:active {
      background: #000 !important;
      color: #ddd;
      border-color: white !important;
    }
  }
}