@import '~styles/variables';
$primary-color: white;
@import 'loaders.css/src/animations/ball-pulse.scss';

.feed-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}